 <header class="header-6">
  <div class="branding">
    <a href="..." class="nav-link">
      <!-- <clr-icon shape="vm-bug"></clr-icon> -->
      <span class="title">YHT</span>
    </a>
  </div>
  <div class="header-actions">
    <a href="..." class="nav-link nav-text">
      Home
    </a>
    <a href="..." class="nav-link nav-text">
      About
    </a>
    <a href="..." class="nav-link nav-text">
      Testimonials
    </a>
    <a href="..." class="nav-link nav-text">
      Contact Us
    </a>
    <a href="..." class="nav-link nav-text">
      Login
    </a>
  </div>
</header>


<section class="intro">
  <div class="content">
    <h1>You can create full screen sections without javascript.</h1>
    <p>The height is set to 90vh, that means 90% height.</p>
  </div>
</section>

<section>
  <div class="content">
    <h1>Resize your browser and see how they adapt.</h1>
  </div>
</section>

<section>
  <div class="content">
    <h1>It's amazing and fast.</h1>
  </div>
</section>

<section>
  <div class="content">
    <h1>See the <a href="http://caniuse.com/#feat=viewport-units">browser support.</a></h1>
  </div>
</section>

<footer>
  Made by Laurent
</footer>
